footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-vert-fonce);
    padding: 35px;
}

/* LE FOOTER EST EN FLEX ET A UN PADDING DE 50PX */
.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

/* PADDING POUR EVITER QUE LE TEXTE SE COLLE ENSEMBLE LORSQUE LA PAGE SE RÉTRÉCIE */
.footer_ouvertures,
.footer_commande,
.footer_adresses {
    padding-right: 20px;
}

/* ENLEVER LES LIST STYLES ET LE PADDING PAR DEFAUT*/
ul {
    list-style: none;
    padding-left: 0;
}

/* ENLEVER LES TEXT DECORATION DES ANCHOR TAGS PAR DEFAUT*/
a {
    text-decoration: none;
}

/* TOUS LES ENFANTS SE DIVISE L'ESPACE ÉGALEMENT*/
.footer>* {
    text-align: left;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

/* POUR LA DERNIERE SECTION DU FOOTER ON VEUT ALIGNER LE TEXTE A DROITE */

.footer_copyrights

 {
    text-align: left;
   border-top: 1px solid var(--color-vert-clair);
}

footer h2 {
    padding-bottom: 15px;
}


.footer_media img{
    width:40px;
    padding-bottom:20px;
    padding-top:20px;
}

.footer_commande{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    text-align: left;
    padding-bottom:20px;
    font-weight: bold;

}
.footer_bouton {
    display: inline-block;
    background-color: var(--color-vert-clair);
    margin-top: 25px;
    border-radius: 25px;
    padding: 10px;
    width:150px;
    text-align: center;
    color:black
}
.footer_bouton:hover {
    
    
    
    color:white
}

@media screen and (max-width: 420px) {

    .footer {
        font-size: .8em;
    }
}

@media screen and (max-width: 720px) {

    /* ENLEVER LE PADDING LORSQUE LE TEXTE SE MET EN VERTICAL*/
    .footer_ouvertures,
    .footer_adresses 
    .footer_commande{
        padding-right: 0px;
    }

    /*LE FOOTER DEVIENT VERTICAL LORSQUE L'ÉCRAN DEVIENT 720PX*/
    .footer {
        flex-direction: column;
    }
}

@media screen and (max-width:800px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

   
    .footer_ouvertures,
    .footer_adresses, 
    .footer_commande{
        text-align: center;
        padding-bottom: 40px;
    }

    .footer h2 {
        padding-bottom: 10px;
    }

}